h1 {
    background-color: yellow;
    color:red
}

.bodyGets{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bodyGets ul{
    width: 90%;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.rows{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}

.rows img{
    height:150px;}

.check-box {
    width: 20em;
    display: flex;
    justify-content: space-between;
}
